# app
NODE_ENV=development

# web
WEB_PORT=3000

# api
API_PORT=8000

# postgres
POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppass
POSTGRES_DB=nexusforge
DB_PORT=5432

# app database url
DATABASE_URL=postgresql://appuser:apppass@db:5432/nexusforge